* {
	padding: 0;
	margin: 0;
}

footer {
	background-color: #85f4ff;
	color: black;
}

header {
	background-color: #85f4ff;
}
nav {
	display: flex;
}
nav div img {
	display: flex;
	padding: 0 25px;
	height: 50px;
	width: 95px;
}
nav ul {
	height: 58px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav ul li a {
	width: 25px;
	color: black;
	text-decoration: none;
}

nav ul li a:hover {
	font-weight: bolder;
}

nav ul li {
	list-style: none;
	padding: 0 23px;
}

.containar {
	min-height: calc(100vh - 58px - 12vh);
}

.logo {
	margin-left: 36cm;
	align-items: right;
}
